<%= stylesheet_link_tag 'tweets_index', :media => "all" %>

<!--<h1>GeekTwitter</h1>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% if user_signed_in? %>
        <%= link_to "マイページへ", user_path(current_user.id) %>
    <% end %>
<h3>Tweet一覧</h3>

<h3>投稿を検索</h3>
<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
   <% end %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<%= link_to "新規投稿へ", new_tweet_path %>
<%= page_entries_info @tweets %>
<%= paginate @tweets %>
<div class="tweets-container">
    
  <% @tweets.each do |t| %>

    
    <div class="tweet">
      <% if t.photo.attached? %> 
        <%= image_tag t.photo, size: '250x200'%>
      <% end %> 
      <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
      <%= link_to t.user.name, user_path(t.user.id) %>
      <%= t.user.email %>
      <%= t.body %>
      <%= t.menu %>
      <%= t.diet %>

      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
        <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>

      <%= t.created_at %>
      <%= link_to "詳細へ", tweet_path(t.id) %>
    <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= link_to "削除する", tweet_path(t.id), method: :delete %>
    <% end %> 
    </div>
  <% end %>
</div>

-->


<!--<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %> -->
  <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>

  <div class = "tag">
    <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
  </div>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

 <!--
<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
<% end %>
-->



<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet1">
      <% if t.photo.attached? %> 
        <%= image_tag t.photo, size: '250x200' %>
      <% end %>
      <% if t.user.image? %>
        <%= image_tag t.user.image_url, size: "50x50", class: "user-avatar" %>
      <% end %>
      <div class="tweet-content">
        <div class="tweet-header">
          <%= link_to t.user.name, user_path(t.user.id) %>
          <!--<%= t.user.email %> -->
          <span class="timestamp"><%= t.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <div class="tweet-body">
          <p>free: <%= t.body %> </p>
          <br>
          <p>menu:<%= t.menu %> </p>
          <br>
          <p>diet:<%= t.diet %> </p>
        </div>
        <div class="tweet-actions">

      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
        <% else %>
          <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>

          <%= link_to "詳細へ", tweet_path(t.id) %>
          <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集する", edit_tweet_path(t.id) %>
            <%= link_to "削除する", tweet_path(t.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class = peginate>
    <%= paginate @tweets %>
    <%= link_to "新規投稿へ", new_tweet_path %>
  <!--<%= page_entries_info @tweets %> -->
  </div>
</div>